# Backend
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/*.log
backend/.classpath
backend/.project
backend/.settings/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/logs
frontend/*.log
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?


# Database
*.db
migrationdb*

# IDE files
.idea/
*.iml
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db
